{% extends 'main.html' %}

{% block css %}
<link rel="stylesheet" href="../../../static/style.css">
{% endblock css %}

{% block content %}

<form method="post">
    {% csrf_token %}

    {% if error_message %}
        <br>
        <div class="alert alert-danger">
            <center>{{ error_message }}</div></center>
        </div>
        
    {% elif tablas_vacias %}
        <br>
        <div class="alert alert-info">
            <center>Las tablas de la Base de Datos están vacías</div></center>
        </div>
    
    {% else %}
    <center>
        <h1> Lista de Almacenes </h1> 
    <table border>
    <tr align=center>
        <th scope="col"> IdAlmacén </th>
        <th scope="col"> Dirección </th>
        <th scope="col"> Superficie (metros cuadrados)</th>
        <th scope="col"> Fecha Inicio Alquiler </th>
        <th scope="col"> Fecha Fin Alquiler </th>
    </tr>
    {% for almacen in almacenes %}
    <tr align=center>
        <td>{{almacen.IdAlmacen}}</td><td>{{almacen.Direccion_Alm}}</td><td>{{almacen.Superficie}}</td><td>{{almacen.FechaIniAlquiler_Alm}}</td><td>{{almacen.FechaFinAlquiler_Alm}}</td>
    </tr>
    {% endfor %}
    </table>
    </center>
    {% endif %}
</form>
<center>
    <div>
        <a href="{% url 'almacen:menu_almacen' %}" class="btn btn-secondary" id="volver-menu-btn">Volver atrás</a>
    </div>
</center>

{% endblock content %}
