{% extends 'main.html' %}

{% block css %}
<link rel="stylesheet" href="../../../static/style.css">
{% endblock css %}

{% block content %}

<form method="post">
    {% csrf_token %}

    <!--
    {% if error_message_mostrar_tabs %}
        <br>
        <div class="alert alert-danger">
            <center>{{ error_message_mostrar_tabs }}</div></center>
        </div>
        
    {% elif tablas_vacias %}
        <br>
        <div class="alert alert-info">
            <center>Las tablas de la Base de Datos están vacías</div></center>
        </div>
    
    {% endif%}
    -->
    
    <center>
        <h1> Lista de Almacenes </h1> 
    <table border>
    <tr align=center>
        <th scope="col"> IdAlmacén </th>
        <th scope="col"> Dirección </th>
        <th scope="col"> Superficie (metros cuadrados)</th>
        <th scope="col"> FechaInicioAlquiler </th>
        <th scope="col"> FechaFinAlquiler </th>
    </tr>
    {% for almacen in almacenes %}
    <tr align=center>
        <td>{{almacen.IdAlmacén}}</td><td>{{almacen.Dirección}}</td><td>{{almacen.Superficie}}</td><td>{{almacen.FechaInicioAlquiler}}</td><td>{{almacen.FechaFinAlquiler}}</td>
    </tr>
    {% endfor %}
    </table>
    </center>
</form>
<center>
    <div>
        <a href="{% url 'almacen:menu_almacen' %}" class="btn btn-secondary" id="volver-menu-btn">Volver atrás</a>
    </div>
</center>

{% endblock content %}
