{% extends 'main.html' %}

{% block css %}
<link rel="stylesheet" href="../../../static/style.css">
{% endblock css %}

{% block content %}

<form method="post">
    {% csrf_token %}

    {% if error_message %}
        <br>
        <div class="alert alert-danger">
            <center>{{ error_message }}</div></center>
        </div>
        
    {% elif tablas_vacias %}
        <br>
        <div class="alert alert-info">
            <center>Las tablas de la Base de Datos están vacías</div></center>
        </div>
    
    {% else %}
    <center>
        <h1> Lista de Lotes de Productos </h1> 
    <table border>
    <tr align=center>
        <th scope="col"> IdLote </th>
        <th scope="col"> IdAlmacén </th>
        <th scope="col"> Descripción </th>
        <th scope="col"> Unidad </th>
        <th scope="col"> Cantidad </th>
        <th scope="col"> Coste </th>
    </tr>
    {% for lote in lotes %}
    <tr align=center>
        <td>{{lote.IdLote}}</td><td>{{lote.IdAlmacen}}</td><td>{{lote.Descripcion_Lote}}</td><td>{{lote.Unidad}}</td><td>{{lote.Cantidad_Lote}}</td><td> {{lote.Coste_Lote}}</td>
    </tr>
    {% endfor %}
    </table>
    </center>
    {% endif %}
</form>
<center>
    <div>
        <a href="{% url 'almacen:menu_almacen' %}" class="btn btn-secondary" id="volver-menu-btn">Volver atrás</a>
    </div>
</center>

{% endblock content %}
