{% extends 'main.html' %}

{% block css %}
<link rel="stylesheet" href="../../../static/style.css">
{% endblock css %}

{% block content %}

    <center> <h1> Baja de Pedido</h1> </center>
    {% if error_message %}
    <br>
    <div class="alert alert-danger">
        <center>{{ error_message }}</div></center>
    </div>
    <br>
    {% endif %}
    {% if success_message %}
    <br>
    <div class="alert alert-success">
        <center>{{ success_message }}</div></center>
    </div>
    <br>
    {% endif %}
    <form method="post">  
        {% csrf_token %}
        <div class="container">
            {{ form }}
            <button type="submit">Eliminar Pedido seleccionado</button>   
        </div>
    </form>  
    <center>
    <div>
        <a href="{% url 'logistica:menu_logistica' %}" class="btn btn-secondary" id="volver-menu-btn">Volver atrás</a>
    </div>
    </center>
   

{% endblock content %}
