{% extends 'main.html' %}

{% block css %}
<link rel="stylesheet" href="../../static/style.css">
{% endblock css %}

{% block content %}

    <center> <h1> Computar coste de salario de un trabajador </h1> </center>

    <form method="post">  
        {% csrf_token %}
        <div class="container">
            {{ form.as_p }}
            <button type="submit">Introducir datos del informe</button>   
        </div>
    </form>  
    <center>
    <div>
        <a href="{% url 'menu' %}" class="btn btn-secondary" id="volver-menu-btn">Volver atrás</a>
    </div>
    </center>
    {% if error_message %}
    <br>
    <div class="alert alert-danger">
        <center>{{ error_message }}</div></center>
    </div>
    {% endif %}

{% endblock content %}