{% extends 'main.html' %}

{% block css %}
<link rel="stylesheet" href="../../../static/style.css">
{% endblock css %}

{% block content %}

<form method="post">
    {% csrf_token %}
    
    <center>
        <h1> Tablas de contabilidad de la BD </h1> 

    <h2>Informe de cuentas</h2>
    <table border>
    <tr align=center>
        <th scope="col"> IdInforme </th>
        <th scope="col"> Fecha_Informe </th>
    </tr>
    {% for tupla in informe_cuentas %}
    <tr align=center>
        <td>{{tupla.IdInforme}}</td><td> {{tupla.Fecha_Informe}}</td>
    </tr>
    {% endfor %}
    </table>

    <br>
    <h2>Informe de campaña publicitaria</h2>
    <table border>
    <tr align=center>
        <th scope="col"> IdInforme </th>
        <th scope="col"> IdCampania</th>
    </tr>
    {% for tupla in informe_campania %}
    <tr align=center>
        <td>{{tupla.IdInforme}}</td><td> {{tupla.IdCampania}}</td>
    </tr>
    {% endfor %}
    </table>

    <br>
    <h2>Informe de proveedor</h2>
    <table border>
    <tr align=center>
        <th scope="col"> IdInforme </th>
        <th scope="col"> NumProveedor </th>
    </tr>
    {% for tupla in informe_proveedor %}
    <tr align=center>
        <td>{{tupla.IdInforme}}</td><td> {{tupla.NumProveedor}}</td>
    </tr>
    {% endfor %}
    </table>

    <br>
    <h2>Informe salarial</h2>
    <table border>
    <tr align=center>
        <th scope="col"> IdInforme </th>
        <th scope="col"> DNI </th>
    </tr>
    {% for tupla in informe_salarial %}
    <tr align=center>
        <td>{{tupla.IdInforme}}</td><td> {{tupla.DNI}}</td>
    </tr>
    {% endfor %}
    </table>

    <br>
    <h2>Informe tributario</h2>
    <table border>
    <tr align=center>
        <th scope="col"> IdInforme </th>
        <th scope="col"> ImporteTributario</th>
    </tr>
    {% for tupla in informe_tributario %}
    <tr align=center>
        <td>{{tupla.IdInforme}}</td><td> {{tupla.ImporteTributario}}</td>
    </tr>
    {% endfor %}
    </table>

    <br>
    <h2>Informe de punto de venta</h2>
    <table border>
    <tr align=center>
        <th scope="col"> IdInforme </th>
        <th scope="col"> BeneficiosPOS </th>
        <th scope="col"> CodigoPOS </th>
    </tr>
    {% for tupla in informe_POS %}
    <tr align=center>
        <td>{{tupla.IdInforme}}</td><td> {{tupla.BeneficiosPOS}}</td><td> {{tupla.CodigoPOS}}</td>
    </tr>
    {% endfor %}
    </table>

    </center>
    <center>
        <div>
            <a href="{% url 'menu_contabilidad' %}" class="btn btn-secondary" id="volver-menu-contabilidad-btn">Volver atrás</a>
        </div>
    </center>
</form>

{% endblock content %}