{% extends 'main.html' %}

{% block css %}
<link rel="stylesheet" href="../../../static/style.css">
{% endblock css %}

{% block title %}
<title> Menu consultar contrato </title>
{% endblock title %}

{% block content %}

<center> <h1> Consultar <em>contrato</em> </h1> </center>
<br>
<form method="post">  
    {% csrf_token %}
    <div class="container">
        {{ form }}
        <button type="submit">Introducir datos del contrato a consultar</button>   
    </div>
</form>  

<center>
<div>
    <a href="{% url 'rrhh:menu_rrhh' %}" class="btn btn-secondary" id="volver-menu-rrhh-btn">Volver atrás</a>
</div>
</center>
    
{% if error_message %}
<br>
<div class="alert alert-danger">
    <center>{{ error_message }}</div></center>
</div>
{% endif %}

{% if mostrar_tablas %}
<br>
<center>
<table border>
<tr align=center>
    <th scope="col"> DNI </th>
    <th scope="col"> IDOfertaEmpleado </th>
    <th scope="col"> Nombre_Empleado </th>
    <th scope="col"> Tlf_Empleado </th>
    <th scope="col"> NumSegSocial </th>
    <th scope="col"> Salario </th>
</tr>
<tr align=center>
    <td>{{contr.DNI}}</td>
    <td>{{contr.IDOfertaEmpleado}}</td><td> {{contr.Nombre_Empleado}}</td>
    <td>{{contr.Tlf_Empleado}}</td><td> {{contr.NumSegSocial}}</td>
    <td>{{contr.Salario}}</td>    
</tr>
</table>
</center>
<br>
{% endif%}

{% endblock content %}