{% extends 'main.html' %}

{% block css %}
<link rel="stylesheet" href="../../static/style.css">
{% endblock css %}

{% block title %}
<title> Menú Recursos Humanos </title>
{% endblock title %}

{% block content %}

<center> <h1> Menú de <em>Recursos Humanos</em> </h1> </center>
<br>
<center> <h3> Selecciona la acción a realizar</h3> </center>

<form method="post">  
    {% csrf_token %}
    <div>
        <button class="btn btn-primary" id="alta-contrato-btn" name="alta-contrato-btn" type="submit">
            Dar de alta contrato
        </button>
    </div>
    <div>
        <button class="btn btn-primary" id="baja-contrato-btn" name="baja-contrato-btn" type="submit">
            Dar de baja contrato
        </button>
    </div>
    <div>
        <button class="btn btn-primary" id="consultar-contrato-btn" name="consultar-contrato-btn" type="submit">
            Consultar contrato
        </button>
    </div>
    <div>
        <button class="btn btn-primary" id="alta-oferta-emp-btn" name="alta-oferta-emp-btn" type="submit">
            Dar de alta oferta de empleo
        </button>
    </div>
    <div>
        <button class="btn btn-primary" id="baja-oferta-emp-btn" name="baja-oferta-emp-btn" type="submit">
            Dar de baja oferta de empleo
        </button>
    </div>
    <div>
        <button class="btn btn-primary" id="mostrar-informacion-btn" name="mostrar-informacion-btn" type="submit">
            Mostrar información sobre el área de recursos humanos
        </button>
    </div>

    <center>
    <div>
        <a href="{% url 'login_menu_pral:menu' %}" class="btn btn-secondary" id="volver-menu-btn">Volver atrás</a>
    </div>
    </center>

    {% if error_message %}
    <br>
    <div class="alert alert-danger">
        <center>{{ error_message }}</div></center>
    </div>
    {% endif %}
</form> 

{% endblock content %}